allowed_ssh_cidr     = "43.205.98.227/32"
aws_region           = "ap-south-1"
db_username          = "dbadmin"
db_password          = "admin123"
env                  = "dev"
instance_type        = "t3.micro"
key_name             = "aws-key-pair"
private_subnet_cidrs = ["10.0.102.0/24"]
public_subnet_cidrs  = ["10.0.2.0/24"]
project_name         = "demo-project-dev"
vpc_cidr             = "10.0.0.0/16"
